{% extends "head2.html" %}
{% block inner_content %}
{% load static %}

{% load mytag %}






<div class="right_col" role="main">

        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-dismissible alert-{{ message.tags }}">
              <button type="button" class="close" data-dismiss="alert">
                  <i class="fa fa-close"></i>
              </button>
              <strong>{{ message }}</strong>
          </div>
          {% endfor %}
        {% endif %}



        <div class="row">
            <div class="col-md-12 col-sm-12 ">
              <div class="dashboard_graph companies-courses responsive-section">
                <div class="x_title h2-size table-border1">
                    <h2>Grading System</h2>
                      <ul class="nav navbar-right panel_toolbox">
                        <li>
                          <!-- <div class="btn_dashgraph" data-toggle="buttons"> -->
                                       
                           
                                
                                <a href="{% url 'grades:add_grade' %}" style="font-size:13px;background:#5EB685">
                                    <span class=" fa fa-plus-circle">
            
                                     </span>&nbsp;Add a Grading System
                                </a>

                        <!-- <label class="btn btn_add add_company">
                                  <img src="{% static 'boimage/plus.svg' %}" alt=""><span> Add Company</span>
                            </label>  -->
                              
                               
                          <!-- </div> -->
                        </li>
                      </ul>
                <div class="clearfix"></div>
              </div>

              <div class="box_bottom">

    
   
    <br><br>
    <!-- <b> Available Grading Systems: </b> -->
    <table class="table">
        <tr>
            <th>Grading System</th>
            <th>Grading Ranges</th>
        </tr>
        <tr>
            <td>
            <a href="{% url 'grades:edit_grade' default_grading_system.id %}">
            {{ default_grading_system.name }}</a> (<b>Default Grading System</b>)
            </td>
            <td>
                <table class="table">
                    <tr>
                        <th>Lower Limit</th>
                        <th>Upper Limit</th>
                        <th>Grade</th>
                        <th>Description</th>
                    </tr>
                    {% for range in default_grading_system.graderange_set.all %}
                        <tr>
                            <td>{{range.lower_limit}}</td>
                            <td>{{range.upper_limit}}</td>
                            <td>{{range.grade}}</td>
                            {% if range.description %}
                                <td>{{range.description}}</td>
                            {% else %}
                                <td>------</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        {% if grading_systems %}
        {% for system in grading_systems %}
            <tr>
            <td>
            <a href="{% url 'grades:edit_grade' system.id %}">{{ system.name }}</a>
            </td>
            <td>
                <table class="table">
                    <tr>
                        <th>Lower Limit</th>
                        <th>Upper Limit</th>
                        <th>Grade</th>
                        <th>Description</th>
                    </tr>
                    {% for range in system.graderange_set.all %}
                        <tr>
                            <td>{{range.lower_limit}}</td>
                            <td>{{range.upper_limit}}</td>
                            <td>{{range.grade}}</td>
                            {% if range.description %}
                                <td>{{range.description}}</td>
                            {% else %}
                                <td>------</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

{% endblock %}
