{% extends 'head1.html'%}
        
{% block content %}
{% load static %}

 <div id="content" class="pmd-content inner-page">

<div class="container-fluid full-width-container data-tables">
  

 


<h1 class="section-title" id="services">
      <span>{{desc}}</span>
</h1>

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-dismissible alert-{{ message.tags }}">
        <button type="button" class="close" data-dismiss="alert">
            <i class="fa fa-close"></i>
        </button>
        <strong>{{ message }}</strong>
    </div>
    {% endfor %}
{% endif %}



  <div class="pmd-card pmd-z-depth">      
        <div class="pmd-card-title">
          <div class="media-left"> 
            <span class="service-icon img-circle bg-fill-orange">
              <svg x="0px" y="0px" width="45px" height="45px" viewBox="0 0 45 45" enable-background="new 0 0 45 45" xml:space="preserve">
                <g>
                  <g>
                    <path fill="#FFFFFF" d="M41.097,22.499c0,4.377-1.516,8.396-4.045,11.573l2.777,2.778C43.059,32.955,45,27.954,45,22.499
                      s-1.941-10.455-5.171-14.35l-2.777,2.777C39.581,14.104,41.097,18.123,41.097,22.499z"></path>
                    <path fill="#FFFFFF" d="M3.904,22.499c0-4.376,1.516-8.396,4.045-11.572L5.172,8.149C1.942,12.044,0,17.044,0,22.499
                      s1.942,10.456,5.171,14.352l2.778-2.778C5.419,30.896,3.904,26.876,3.904,22.499z"></path>
                    <path fill="#FFFFFF" d="M34.073,37.051c-3.177,2.529-7.196,4.045-11.573,4.045c-4.376,0-8.396-1.516-11.573-4.045l-2.777,2.777
                      C12.044,43.058,17.045,45,22.5,45s10.456-1.942,14.352-5.172L34.073,37.051z"></path>
                    <path fill="#FFFFFF" d="M10.928,7.948c3.176-2.529,7.196-4.045,11.572-4.045c4.377,0,8.396,1.516,11.573,4.046l2.778-2.778
                      C32.956,1.941,27.955,0,22.5,0C17.046,0,12.045,1.941,8.149,5.171L10.928,7.948z"></path>
                  </g>
                  <g>
                    <path fill="#FFFFFF" d="M34.452,19.893c-1.131,0-2.119,0.751-2.401,1.785h-2.352c-0.142-1.41-0.66-2.679-1.506-3.712l1.74-1.738
                      c0.939,0.425,2.071,0.281,2.823-0.517c0.99-0.987,0.99-2.584,0-3.569c-0.988-0.987-2.588-0.987-3.576,0
                      c-0.752,0.75-0.938,1.878-0.519,2.818l-1.222,1.41l-0.425,0.422c-0.988-0.8-2.211-1.315-3.574-1.456v-2.444
                      c0.94-0.374,1.646-1.269,1.646-2.348c0-1.41-1.128-2.536-2.542-2.536c-1.411,0-2.54,1.126-2.54,2.536
                      c0,1.079,0.706,2.02,1.647,2.348v2.444c-1.317,0.141-2.54,0.705-3.577,1.456l-1.74-1.738c0.142-0.33,0.235-0.658,0.235-1.034
                      c0-1.407-1.129-2.535-2.541-2.535s-2.54,1.128-2.54,2.535c0,1.41,1.128,2.539,2.54,2.539c0.376,0,0.752-0.096,1.034-0.236
                      l1.74,1.737c-0.799,1.032-1.362,2.3-1.505,3.712h-2.398c-0.376-0.938-1.271-1.643-2.354-1.643c-1.41,0-2.539,1.124-2.539,2.535
                      c0,1.408,1.129,2.537,2.539,2.537c1.083,0,2.024-0.706,2.354-1.646h2.446c0.188,1.268,0.706,2.443,1.457,3.429l-1.74,1.739
                      c-0.328-0.14-0.658-0.235-1.034-0.235c-1.412,0-2.54,1.129-2.54,2.536c0,1.409,1.128,2.538,2.54,2.538s2.541-1.129,2.541-2.538
                      c0-0.374-0.094-0.75-0.235-1.033l1.74-1.739c0.987,0.801,2.211,1.317,3.577,1.46v0.655v1.739
                      c-0.941,0.375-1.647,1.269-1.647,2.346c0,1.413,1.129,2.54,2.54,2.54c1.414,0,2.542-1.127,2.542-2.54
                      c0-1.077-0.706-2.019-1.646-2.346v-1.739v-0.655c1.318-0.143,2.539-0.706,3.574-1.46l1.742,1.739
                      c-0.141,0.33-0.236,0.659-0.236,1.033c0,1.409,1.13,2.538,2.542,2.538c1.318-0.14,2.446-1.268,2.446-2.633
                      c0-1.408-1.128-2.535-2.541-2.535c-0.376,0-0.752,0.094-1.035,0.235l-1.74-1.738c0.752-0.985,1.271-2.162,1.458-3.429h2.493
                      c0.377,0.892,1.271,1.502,2.308,1.502c1.41,0,2.541-1.127,2.541-2.536C36.993,21.021,35.862,19.893,34.452,19.893z M22.499,26.933
                      c-2.452,0-4.44-1.984-4.44-4.433c0-0.474,0.076-0.926,0.214-1.354c0.558-1.793,2.235-3.082,4.188-3.082
                      c0.151,0,0.3,0.005,0.447,0.021c2.262,0.208,4.033,2.105,4.033,4.415C26.941,24.948,24.951,26.933,22.499,26.933z"></path>
                  </g>
                </g>
              </svg>
            </span> 
          </div>
          <div class="media-body media-middle">
            <h2 class="pmd-card-title-text typo-fill-secondary">Statistics<span class="grow-up"><img src="themes/images/grow-up-arrow.png" alt="grow-up"></span></h2>
          </div>
          <div class="media-right datetimepicker">
            <!--calendar start-->
            <!-- <div class="range-calendar" style=" height:40px;">
              <div class="form-group pmd-textfield">
                <div class="input-group">
                  <input id="datepicker-default" type="text" class="form-control datepicker" placeholder="Choose date"><span class="pmd-textfield-focused"></span>
                  <div class="input-group-addon hidden-xs">
                    <svg x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                      <g>
                      <path fill="#010101" d="M-8.736-20.232c0,2.88-2.304,5.184-5.184,5.184s-5.184-2.304-5.184-5.184v-13.824
                      c0-2.88,2.304-5.184,5.184-5.184s5.184,2.304,5.184,5.184V-20.232z M41.952-34.056c0-2.88-2.304-5.184-5.185-5.184
                      c-2.879,0-5.184,2.304-5.184,5.184v13.824c0,2.88,2.305,5.184,5.184,5.184c2.881,0,5.185-2.304,5.185-5.184V-34.056z M63.84-20.923
                      V58.68c0,3.111-2.534,5.645-5.76,5.645h-92.16c-3.226,0-5.76-2.533-5.76-5.645v-79.603c0-3.11,2.534-5.645,5.76-5.645h11.52v6.336
                      c0,4.954,3.687,8.87,8.64,8.87s8.64-4.032,8.64-8.87v-6.336h33.408v6.336c0,4.954,3.687,8.87,8.64,8.87
                      c4.954,0,8.641-4.032,8.641-8.87v-6.336h12.557C61.075-26.568,63.84-24.034,63.84-20.923z M54.624-5.192
                      c0-1.152-1.036-2.189-2.304-2.189h-80.64c-1.268,0-2.304,0.921-2.304,2.189v58.227c0,1.152,1.037,2.189,2.304,2.189h80.64
                      c1.268,0,2.304-0.922,2.304-2.189V-5.192z"></path>
                      </g>
                      <g>
                      <path fill="#A5A4A4" d="M7.2,4.414C7.2,5.08,6.667,5.613,6,5.613S4.8,5.08,4.8,4.414v-3.2c0-0.667,0.534-1.2,1.2-1.2
                      s1.2,0.533,1.2,1.2V4.414z M18.934,1.214c0-0.667-0.533-1.2-1.2-1.2s-1.2,0.533-1.2,1.2v3.2c0,0.666,0.533,1.199,1.2,1.199
                      s1.2-0.533,1.2-1.199V1.214z M24,4.254V22.68c0,0.721-0.587,1.307-1.333,1.307H1.333C0.586,23.986,0,23.4,0,22.68V4.254
                      c0-0.721,0.586-1.307,1.333-1.307H4v1.467c0,1.146,0.854,2.053,2,2.053s2-0.934,2-2.053V2.947h7.733v1.467
                      c0,1.146,0.854,2.053,2,2.053s2-0.934,2-2.053V2.947h2.906C23.36,2.947,24,3.533,24,4.254z M21.867,7.896
                      c0-0.268-0.24-0.507-0.534-0.507H2.667c-0.293,0-0.533,0.213-0.533,0.507v13.478c0,0.268,0.24,0.507,0.533,0.507h18.667
                      c0.294,0,0.534-0.213,0.534-0.507V7.896z"></path>
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
              <span class="selected-date typo-fill-secondary"></span>
            </div> -->
            <!-- calendar end-->
          </div>
        </div>
        <div class="pmd-card-body">
          <div class="total-sales">
            <!--circle chart-->
            <div class="chart circle-chart border-right pull-left">
              <div class="circle">
                <div id="circles-1"><div class="circles-wrp" style="position: relative; display: inline-block;"><svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><path fill="transparent" stroke="#dfe3e7" stroke-width="7" d="M 49.99052919602818 3.500000964474502 A 46.5 46.5 0 1 1 49.93541243287967 3.5000448554391212 Z" class="circles-maxValueStroke"></path><path fill="transparent" stroke="#f79332" stroke-width="7" d="M 49.99052919602818 3.500000964474502 A 46.5 46.5 0 0 1 92.05112512242934 30.151753832194853 " class="circles-valueStroke"></path></svg><div class="circles-text" style="position: absolute; top: 0px; left: 0px; text-align: center; width: 100%; font-size: 35px; height: 100px; line-height: 100px;"><span class="circles-integer">18</span></div></div></div>
                <div class="source-semibold text-center chart-title">Users</div>
              </div>
              <div class="circle">
                <div id="circles-2"><div class="circles-wrp" style="position: relative; display: inline-block;"><svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><path fill="transparent" stroke="#dfe3e7" stroke-width="7" d="M 49.99052919602818 3.500000964474502 A 46.5 46.5 0 1 1 49.93541243287967 3.5000448554391212 Z" class="circles-maxValueStroke"></path><path fill="transparent" stroke="#f79332" stroke-width="7" d="M 49.99052919602818 3.500000964474502 A 46.5 46.5 0 0 1 96.4106556254829 52.88115331296898 " class="circles-valueStroke"></path></svg><div class="circles-text" style="position: absolute; top: 0px; left: 0px; text-align: center; width: 100%; font-size: 35px; height: 100px; line-height: 100px;"><span class="circles-integer">26</span></div></div></div>
                <div class="source-semibold text-center chart-title">Pageviews</div>
              </div>
              <div class="circle">
                <div id="circles-3"><div class="circles-wrp" style="position: relative; display: inline-block;"><svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><path fill="transparent" stroke="#dfe3e7" stroke-width="7" d="M 49.99052919602818 3.500000964474502 A 46.5 46.5 0 1 1 49.93541243287967 3.5000448554391212 Z" class="circles-maxValueStroke"></path><path fill="transparent" stroke="#f79332" stroke-width="7" d="M 49.99052919602818 3.500000964474502 A 46.5 46.5 0 0 1 89.29824711429765 74.85754963272922 " class="circles-valueStroke"></path></svg><div class="circles-text" style="position: absolute; top: 0px; left: 0px; text-align: center; width: 100%; font-size: 35px; height: 100px; line-height: 100px;"><span class="circles-integer">34</span></div></div></div>
                <div class="source-semibold text-center chart-title">Vistiors</div>
              </div>
            </div>
           
            

            <div class="chart total-revenue pull-left">
              <table align="center">
                <tbody><tr>
                  <td class="media-left">CPU</td>
                  <td class="media-body">
                    <div class="progress cash-progressbar">
                      <div class="progress-bar" style="width: 20.5px;"></div>
                    </div>
                  </td>
                  <td class="media-right">{{cpucount}}</td>
                </tr>
                <tr>
                  <td class="media-left">CPU Percent</td>
                  <td class="media-body">
                    <div class="progress card-progressbar">
                      <div class="progress-bar" style="width: 12.3px;"></div>
                    </div>
                  </td>
                  <td class="media-right">{{cpupercent}}</td>
                </tr>
                <tr>
                  <td class="media-left">Process List</td>
                  <!-- <td class="media-body">
                    <div class="progress wallet-progressbar">
                      <div class="progress-bar" style="width: 24.6px;"></div>
                    </div>
                  </td> -->
                   <td class="media-right">
                  {% for p in process %}
                      {{p}}<br/>
                  {% endfor %}
                  </td>
                </tr>
               <!--  <tr>
                  <td class="media-left">Visits</td>
                  <td class="media-body">
                    <div class="progress credit-progressbar">
                      <div class="progress-bar" style="width: 16.4px;"></div>
                    </div>
                  </td>
                  <td class="media-right">32,301</td>
                </tr>
                <tr>
                  <td class="media-left">Pages</td>
                  <td class="media-body">
                    <div class="progress other-progressbar">
                      <div class="progress-bar" style="width: 4.1px;"></div>
                    </div>
                  </td>
                  <td class="media-right">132</td>
                </tr> -->
              </tbody></table>
            </div>
            <!--total cash chart end-->
          </div>
        </div>
        <span class="btn-loader loader hidden">Loading...</span>
      </div>



{% endblock %}