{% extends 'head1.html'%}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
{% block content %}
{% load static %}




 <div id="content" class="pmd-content inner-page">

<div class="container-fluid full-width-container data-tables">

   <h1 class="section-title" id="services">
      <span>{{desc}}</span>
    </h1>

      <!-- End Title -->
  
    <!--breadcrum start-->
    <ol class="breadcrumb text-left">
      <li><a href="{% url 'userlms:home' %}">Dashboard</a></li>
      <li class="active">{{ desc }}</li>
    </ol><!--breadcrum end-->


    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-dismissible alert-{{ message.tags }}">
        <button type="button" class="close" data-dismiss="alert">
            <i class="fa fa-close"></i>
        </button>
        <strong>{{ message }}</strong>
    </div>
    {% endfor %}
  {% endif %}
  
    <!-- table card -->
    <section class="row component-section">

     
        {% ifequal object_list|length 0 %}
              <p>&nbsp;&nbsp;There is no course  available</p>
        {% endifequal %}


        

    </section>

{% endblock %}