{% extends 'head1.html'%}
        
{% block content %}
{% load static %}


<div id="content" class="pmd-content inner-page">

<div class="container-fluid full-width-container data-tables">
  



<h1 class="section-title" id="services">
    <span>{{desc}}</span>
</h1>

    
<ol class="breadcrumb text-left">
      <li><a href="{% url 'userlms:home' %}">Dashboard</a></li>
      <li class="active">{{ desc }}</li>
</ol><!--breadcrum end-->


{% if messages %}
    {% for message in messages %}
    <div class="alert alert-dismissible alert-{{ message.tags }}">
        <button type="button" class="close" data-dismiss="alert">
            <i class="fa fa-close"></i>
        </button>
        <strong>{{ message }}</strong>
    </div>
    {% endfor %}
{% endif %}


  
    <!-- table card -->
<section class="row component-section">

     
        <div class="row  component-section">
          <div style="float:right; padding-right:20px;">
            <button type="button" id="add_state" class="btn pmd-btn-outline pmd-ripple-effect btn-primary">Add state</button>
          </div>
        </div>

        {% ifequal object_list|length 0 %}
              <p>&nbsp;&nbsp;There is no state  available</p>
        {% endifequal %}


        <table class="table table-striped">

            <thead>
              <tr>
                <th scope="col">S.N.</th>
                <th scope="col">State Name</th>
                <th scope="col">Country Name</th>
                <th scope="col">Action</th>
                
              </tr>
            </thead>

            <tbody>
              {% for obj in object_list %}
              <tr>
                <th scope="row"> {{ forloop.counter }} </th>
                <td> {{ obj.name }} </td>
                <td> {{ obj.country }} </td>
                
               
                <td>

                  <a href="{% url 'customadmin:state_edit' obj.id %}" title="Edit" data-href="{{obj.id}}" data-toggle="tooltip"><i class="material-icons">&#xE254;</i>
                </a>

                

                <a onclick="return confirm('Are You sure about this!!')" href="{% url 'customadmin:state_delete' obj.id %}">
                  <i class="material-icons">&#xE872;</i>
                </a>

                </td>
              </tr>
              {% endfor %}
              
              </tbody>
      </table>
    </div>
  </div>
    
       
      </div>

      <script>
        $('#add_state').click(function(){
            window.location.href="{% url 'customadmin:state_create' %}";
        });
      </script>
      
    </section>

{% endblock %}
