<section class="courses-offered container">
	<div class="pt-4 pb-3" >
		<h4 style="text-align:center;font-family: Arial Black,Arial Bold,Gadget,sans-serif; font-weight: 800;">Courses Offered</h4>
	</div>
	<div class="py-2 txt-center" >
		<button class="category-btn-pills px-3 mx-2 fs-15 fw-800">Tourism</button>
		<button class="category-btn-pills px-3 mx-2 fs-15 fw-800">Health Care</button>
		<button class="category-btn-pills px-3 mx-2 fs-15 fw-800">Banking & Finance</button>
		<button class="category-btn-pills px-3 mx-2 fs-15 fw-800">General</button>
	</div>

	<div class="col-md-12">
		<div class="col-md-3" style="float:left">
	   		<div class="card my-2 py-1 px-1 brd-green brd-rds-5">
	  			<div class="card-inner">
	  				<img src="static/img/tobias-rehbein-ch-14.png" style="height:125px; width:175px;" />
	  				<div class="card-inner-content">
	  					<div class="card-course-name"><label>Staff Management</label></div>
	  					<div class="card-course-price">
	  						<span>
	  							<strike class="card-course-price-strike">Rs. 336</strike>
	  						</span> Free
	  					</div>
	  					<div class="fs-13">
	  						<label class="card-course-rating-star">
	  							<i class="fa fa-star" aria-hidden="true"></i>
	  							<i class="fa fa-star" aria-hidden="true"></i>
	  							<i class="fa fa-star" aria-hidden="true"></i>
	  							<i class="fa fa-star-half-o" aria-hidden="true"></i>
	  							<i class="fa fa-star-o" aria-hidden="true"></i>
	  						</label>
	  						<span class="card-enroll-count fl-rt">
	  							<i class="fa fa-users" aria-hidden="true"></i>
	  							(5,203)
	  						</span>
	  					</div>
	  					<div>
	  						<button class="cta-btn btn-wdth-120 fs-13">Add To Cart</button>
	  						<span class="fav-not fl-rt">
	  							<i class="fa fa-heart" aria-hidden="true"></i>
	  						</span>
	  					</div>
	  				</div>
	  			</div>
	  		</div>
	  	</div>
	    <div class="col-md-3" style="float:left">
	   		<div class="card my-2 py-1 px-1 brd-green brd-rds-5">
	  			<div class="card-inner">
	  				<img src="static/img/tobias-rehbein-ch-14.png" style="height:125px; width:175px;" />
	  				<div class="card-inner-content">
	  					<div class="card-course-name"><label>Staff Management</label></div>
	  					<div class="card-course-price">
	  						<span>
	  							<strike class="card-course-price-strike">Rs. 336</strike>
	  						</span> Free
	  					</div>
	  					<div class="fs-13">
	  						<label class="card-course-rating-star">
	  							<i class="fa fa-star" aria-hidden="true"></i>
	  							<i class="fa fa-star" aria-hidden="true"></i>
	  							<i class="fa fa-star" aria-hidden="true"></i>
	  							<i class="fa fa-star-half-o" aria-hidden="true"></i>
	  							<i class="fa fa-star-o" aria-hidden="true"></i>
	  						</label>
	  						<span class="card-enroll-count fl-rt">
	  							<i class="fa fa-users" aria-hidden="true"></i>
	  							(5,203)
	  						</span>
	  					</div>
	  					<div>
	  						<button class="cta-btn btn-wdth-120 fs-13">Add To Cart</button>
	  						<span class="fav-not fl-rt">
	  							<i class="fa fa-heart" aria-hidden="true"></i>
	  						</span>
	  					</div>
	  				</div>
	  			</div>
	  		</div>
	  	</div>
	    <div class="col-md-3" style="float:left">
	   		<div class="card my-2 py-1 px-1 brd-green brd-rds-5">
	  			<div class="card-inner">
	  				<img src="static/img/tobias-rehbein-ch-14.png" style="height:125px; width:175px;" />
	  				<div class="card-inner-content">
	  					<div class="card-course-name"><label>Staff Management</label></div>
	  					<div class="card-course-price">
	  						<span>
	  							<strike class="card-course-price-strike">Rs. 336</strike>
	  						</span> Free
	  					</div>
	  					<div class="fs-13">
	  						<label class="card-course-rating-star">
	  							<i class="fa fa-star" aria-hidden="true"></i>
	  							<i class="fa fa-star" aria-hidden="true"></i>
	  							<i class="fa fa-star" aria-hidden="true"></i>
	  							<i class="fa fa-star-half-o" aria-hidden="true"></i>
	  							<i class="fa fa-star-o" aria-hidden="true"></i>
	  						</label>
	  						<span class="card-enroll-count fl-rt">
	  							<i class="fa fa-users" aria-hidden="true"></i>
	  							(5,203)
	  						</span>
	  					</div>
	  					<div>
	  						<button class="cta-btn btn-wdth-120 fs-13">Add To Cart</button>
	  						<span class="fav-not fl-rt">
	  							<i class="fa fa-heart" aria-hidden="true"></i>
	  						</span>
	  					</div>
	  				</div>
	  			</div>
	  		</div>
	  	</div>
	    <div class="col-md-3" style="float:left">
	   		<div class="card my-2 py-1 px-1 brd-green brd-rds-5">
	  			<div class="card-inner">
	  				<img src="static/img/tobias-rehbein-ch-14.png" style="height:125px; width:175px;" />
	  				<div class="card-inner-content">
	  					<div class="card-course-name"><label>Staff Management</label></div>
	  					<div class="card-course-price">
	  						<span>
	  							<strike class="card-course-price-strike">Rs. 336</strike>
	  						</span> Free
	  					</div>
	  					<div class="fs-13">
	  						<label class="card-course-rating-star">
	  							<i class="fa fa-star" aria-hidden="true"></i>
	  							<i class="fa fa-star" aria-hidden="true"></i>
	  							<i class="fa fa-star" aria-hidden="true"></i>
	  							<i class="fa fa-star-half-o" aria-hidden="true"></i>
	  							<i class="fa fa-star-o" aria-hidden="true"></i>
	  						</label>
	  						<span class="card-enroll-count fl-rt">
	  							<i class="fa fa-users" aria-hidden="true"></i>
	  							(5,203)
	  						</span>
	  					</div>
	  					<div>
	  						<button class="cta-btn btn-wdth-120 fs-13">Add To Cart</button>
	  						<span class="fav-not fl-rt">
	  							<i class="fa fa-heart" aria-hidden="true"></i>
	  						</span>
	  					</div>
	  				</div>
	  			</div>
	  		</div>
	  	</div>
	  	<div class="clearfix"></div>
	</div>
	
</section>