{% extends 'user_lms/header_1.html' %}

{% block course_details %}

{% load static %}

{{ object.about|json_script:'course_about' }} 

{{ object.highlights|json_script:'course_highlights' }}
{{ object.overview|json_script:'course_overview' }}

<section class="course-details">
	<div class="bg-img-cover row" style="margin: 0;">
		<div class="container py-4" style="min-height: 360px;">
			<div class="row">
				<div class="col-md-7 col-sm-12 mt-3" style="float: left;">
					<h2 style="font-size:40px; font-weight: 600; font-family: sans-serif;">{{ object.name }}</h2>
					<div class="fs-15 my-4" >
						<p id="course-abouts" style="text-align: justify;">
						
						</p>
					</div>


					<div class="row mt-5 mb-3">
						<div class="col-md-12 col-sm-12 col-xs-12" style=" display: none" >
							<div class="col-md-3 col-sm-6 fs-13 px-0" style="float: left;">
								<span class="fa fa-clock card-course-rating-star"></span> Duration: {{ object.duration }}
							</div>
							<div class="col-md-3 col-sm-6  col-xs-12 px-0 fs-13" style="float: left;">
								<i class="fa fa-graduation-cap card-course-rating-star" aria-hidden="true"></i> 45 Student Enrolled
							</div>
							<div class="col-md-3 col-sm-6  col-xs-12 fs-13 px-0" style="float: left;">
								<span class="fa fa-play-circle card-course-rating-star"></span> 25 lessons
							</div>
							<div class="col-md-3 col-sm-6  col-xs-12 fs-13 px-0" style="float: left;">
								<span class="far fa-star card-course-rating-star"></span> rating ({{ object.star }})
							</div>
						</div>
						<div class="col-sm-12 pt-4">
							<div style=" display: none">
								<button class="btn btn-outline-success fs-13">
									<i class="far fa-share-square" aria-hidden="true"></i>&nbsp;Share
								</button>
								<button class="btn btn-outline-success ml-4 fs-13">
									<i class="far fa-heart" aria-hidden="true"></i>&nbsp;Whislist
								</button>
							
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="container py-4">
		<div class="col-md-12 col-sm-12 pl-0 pr-0">
			<div class="col-md-8 col-sm-12" style="float: left;">
				<div class="tabs">
					<div class="tab-heading">
						<label class="course-overview px-3 brd-btm fs-20" style="font-weight: 600; font-family: sans-serif;" onclick="tabCourseTabChange(this, '#contentForCourseOverView')"> Course Overview</label>
						<label class="course-about px-4 fw-800 fs-20" style="font-weight: 600; font-family: sans-serif;" onclick="tabCourseTabChange(this, '#contentForAbout')"> About</label>
					</div>
					<div class="tab-content brd-green brd-rds-5">
						<div id="contentForCourseOverView" class="px-2 py-3 fs-15 check-list">
						</div>
						<div id="contentForAbout" class="px-5 py-4 fs-15" style="display: none;">
						</div>
					</div>
				</div>

				<div class="my-2">
					<div class="fw-800 fs-20 my-3 pt-3" style="font-weight: 600; font-family: sans-serif;" >
						Course Content
					</div>
					<div class="accordion" id="accordionExample">
						{% for topics,childs in topic_list.items %}
						<div class="module-box brd-rds-15">
						    <div class="bg-img-cover brd-rds-15 collapsed" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo{{topics.id}}" aria-expanded="false" aria-controls="collapseTwo{{topics.id}}">
							    <h2 class="mb-0 pb-2">
							        <span class="fs-15 py-2 px-3">
							          {{ topics.name }}
							        </span>
							        <span class="fl-rt fs-13 py-3 mbl-hide px-5">
							        	<span class="ml-3" style="color:orange;">
							        		<i class="fa fa-cubes" aria-hidden="true"></i>
							        		<span class="">Activities</span>
											
							        	</span>
										<span class="ml-3" style="color:#CD385C;">
							        		<i class="fa fa-paperclip" aria-hidden="true"></i>
							        		<span class="">Knowledge Check</span>
							        	</span>
							        </span>
							    </h2>
						    </div>
						    <div id="collapseTwo{{topics.id}}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
							    <div class="card-body">
							        <ul>
							        	{% for child in childs %}
							        		<li>{{ child.name }} </li>
							        	{% endfor %}
							        </ul>
							    </div>
						    </div>
					  	</div>
					  	<div class="clearfix"></div>
					  	<br>
					  {% endfor %}
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-12 px-lg-x0-sm-x15" style="float: left;">
				<div class="card brd-green brd-rds-5 course-detail-card">
		  			<div class="card-inner">
		  				<img src="{{ object.thumbnail.url }}" class="img-responsive sm-100"/>
		  				<div class="card-inner-content">
		  					<div class="course-detail-card-price px-2" style="font-weight: 600; font-family: sans-serif;">
		  						<span>
		  							<strike class="card-course-price-strike">Rs. {{ object.price }}</strike>
		  						</span> Free
		  					</div>
		  					<div class="fs-18 py-2 px-2">This course include</div>
		  					<div class="fs-15 px-2 mb-3">
		  						<div class="py-2">
		  							<i class="fa fa-language fs-18 cta-color"></i>&nbsp;
		  							Language - {{ object.language }}
		  						</div>
		  						<div class="py-2">
		  							<i class="fa fa-desktop fs-18 cta-color"></i>&nbsp;
		  							Access - Mobile & Web
		  						</div>
		  						<div class="py-2">
		  							<i class="far fa-clock fs-18 cta-color"></i>&nbsp;
		  							Lifetime access
		  						</div>
		  						<div class="py-2">
		  							<i class="far fa-bookmark fs-18 cta-color"></i>&nbsp;
		  							Certification of completion
		  						</div>
		  						
		  					</div>
		  					<div class="fs-15 px-2 brd-y2">
		  						<div class="py-1 px-2">
		  							<div class="fs-13 fw-800">
		  								Training more than 5 people?
		  							</div>
		  							<div class="fs-13">
		  								Get access to all our courses anytime Contact our team
		  							</div>
		  						</div>
		  						
		  					</div>
		  					<div class="my-2" style="text-align: center;">
		  						<button class="cta-btn btn-wdth-120 fs-13" onclick="refToLink('{{object.link}}')">Enroll Now</button>
		  					</div>
		  				</div>
		  			</div>
		  		</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
		<script type="text/javascript">
			function tabCourseTabChange(t, id){
				$(t).siblings('label').removeClass('brd-btm');
				$(t).addClass('brd-btm');
				$(""+id).siblings('div').css('display', 'none');
				$(""+id).css('display', 'block');
			}
		</script>
</section>

{% endblock %}

{% block inpage_script%}
	{% load static %}
	<script>

			//alert(course_details);
		$(document).ready(function(e){
			var course_details = JSON.parse(document.getElementById('course_about').textContent);

			//var course_highlights = JSON.parse(document.getElementById('course_highlights').textContent);
			var course_overview = JSON.parse(document.getElementById('course_overview').textContent);
			$('#course-abouts').html(course_details);
			$('#contentForAbout').html(course_details);
			$('#contentForCourseOverView').html(course_overview);
			$("ul").css('list-style-type', "none");
		});
	</script>
{% endblock %}
