{% extends 'user_lms/header_2.html' %}


<style type="text/css">
	.gotocourse{
		padding:5px 20px !important;
	}
     .green-color{
        color:green;
    }
    </style>



 {% block user_course %} 



<div>

<h1 align='center'>YOUR WISHLIST.</h1>
<hr>
</div>
{% if new %}
{% for obj in new %}
<div>
{% comment %} Course name:{{post.name}}
Duration:{{post.duration}}</br>
Category:{{post.category}}<br>
About:{{post.about}} {% endcomment %}

<div class="col-md-3 pop-card" style="float:left">
		<div class="card my-2 py-1 px-1 brd-green brd-rds-5">
		   <div class="card-inner">
			   <img src="{{ obj.thumbnail.url }}" style="height:125px; width:175px;" />
			   <div class="card-inner-content">
				   <div class="card-course-name"><label>{{ obj.name }}</label></div>
				   <div class="card-course-price" style="display: block;">
					   <span>
						   <strike class="card-course-price-strike">{{ obj.price }}</strike>
					   </span> Free
				   </div>
				   <div class="fs-13">
					   <label class="card-course-rating-star">
						   <!-- {{ obj.star|floatformat:"0" }} -->
	
						   <i class="fa fa-star" aria-hidden="true"></i>
						   <i class="fa fa-star" aria-hidden="true"></i>
						   <i class="fa fa-star" aria-hidden="true"></i>
						   <i class="fa fa-star-half-o" aria-hidden="true"></i>
						   <i class="fa fa-star-o" aria-hidden="true"></i>
	
					   </label>
					   <span class="card-enroll-count fl-rt">
						   <i class="fa fa-users" aria-hidden="true"></i>
						   {{ obj.total_view }}
					   </span>
				   </div>
                	{% if obj.id in is_fav %}
									<a href="/fav/{{ obj.id }}"  id = '{{ obj.id }}'>
								  <span class="fav-not fl-rt">
		      							{% comment %} <i class="fa fa-heart" aria-hidden="true"></i> {% endcomment %}
										  <i class="fa fa-heart red-color"  aria-hidden="true" ></i>  
		      						</span>

								  
								{% else %}
								<a href="/fav/{{ obj.id }}"  id = '{{ obj.id }}'>
								  
		      						<span class="fav-not fl-rt">
		      							<i class="fa fa-heart" aria-hidden="true"></i>
										  {% comment %} <i class="fa fa-heart red-color " ></i>   {% endcomment %}
		      						</span>
								</a>
								{% endif %}
				   <div>
	

			   <!-- <button   class="cta-btn btn-wdth-120 fs-13" 
						onclick="refToLink('{{obj.link}}')">Enroll Now</button> -->
					 
				   </div>
			   </div>
		   </div>
	   </div>
	
	
	
	   <div class="pop-card-hover" style="z-index:9;position: absolute; top:10px; left:210px;padding-left:15px;" >
		   <a href="{% url 'userlms:course_details' %}{{obj.id}}/details/" class="a-norm">
			   <div class="fs-13 px-2 py-2 brd-rds-5 brd-green" style="border:1px solid; width:300px;background:#fff;">
				   <h6 class="fs-15">{{ obj.name }}</h6>
				   <p  class="brd-btm brd-gry" style="font-size: 11px;"> Total Video hrs {{ obj.duration }} </p>
				   <p  class="brd-btm brd-gry py-1">What you will learn in this course</p>
	
				   {{ obj.overview }}
	
	
	
				 <div class="card-course-price txt-center py-1">
					   <span>
						   <strike class="card-course-price-strike fw-800" style="color: #bbb;display: block;" >Rs. {{ obj.price}}</strike>
					   </span> 
				   </div>
				   <div>
					   <button style="min-width:200px;" data-href="{{ obj.id }}" class="cta-btn fs-13" 
					   id="enroll">View Details &nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></button>
					   <span class="fav-not fl-rt">
						   <i  class="fa fa-heart green-color " aria-hidden="true"></i>
					   </span>
				   </div>
			   </div>
		   </a>
	   </div>
	</div>
	
	
	

<div>


                                      
</div>

{% endfor %}
{% else %}
<h3 align='center'>YOUR WISHLIST IS EMPTY</h1>
{% endif %}
</div>
{% endblock %}

	
