
{% extends 'user_lms/header_1.html' %}


{% block user_banner %}

{% load static %}

<section id="pageBanner" class="row mx-0" style="box-shadow: 0px 5px 10px #00000029;" >
	<div class='card-slider-template container mb-5'>

		<div class="pt-4 pb-5" >
			<h3 style="font-family: sans-serif; font-weight: 800;">Welcome Back {{ user }}, Lets Continue Learning</h3>
		</div>
		<!-- for tab in classroom -->
		<div class="tabs">
					<div class="tab-heading px-3">
						<label class="course-overview px-3 brd-btm2 fs-20" style="font-weight: 600; font-family: sans-serif;" onclick="tabCourseTabChange(this, '#contentForWatchingLive')"> Online Courses
						</label>

						<label class="course-about px-4 fw-800 fs-20" style="font-weight: 600; font-family: sans-serif;" onclick="tabCourseTabChange(this, '#contentForNotes')"> Upcoming Sessions
						</label>
						
					</div>

					
					<div class="tab-content brd-rds-5" style="box-shadow: 0px 0px 15px #00000029;">
						<div id="contentForWatchingLive" class="px-2 py-3 fs-15 check-list">
						<!--##########  -->
							<div  style="display:block" id="viewed_course_slider" class="carousel slide carousel-multi-item px-5" data-ride="carousel">
		  
								<div id="recently_viewed" class="owl-carousel owl-theme">
				
				{% ifequal enrolled_courses|length 0 %}
					<p> You have not enrolled to any courses</p>
					<a href="{% url 'userlms:home' %}">Enroll Now</a>
				{% endifequal %}




				{% for course in enrolled_courses %}
			  		
			  		<div class="item">
			    	<div class="py-2 pl-1" style="width:430px; height:180px;">
				    	<div style="width:430px; height:160px; padding:5px;background: #FFFFFF 0% 0% no-repeat padding-box;box-shadow: 0px 0px 14px #00000029;border-radius: 10px 4px 4px 10px;opacity: 1;">
				    		<div style="width: 150px; float: left;">
					    		<!-- <video
								    class="video-js brd-rds-5"
								    controls
								    preload="auto"
								    poster="//vjs.zencdn.net/v/oceans.png"
								    data-setup='{}' style="width:150px; height: 150px;">
								  
								  <source src="//vjs.zencdn.net/v/oceans.ogv" type="video/ogg"></source>
								  <p class="vjs-no-js">
								    To view this video please enable JavaScript, and consider upgrading to a
								    web browser that
								    <a href="https://videojs.com/html5-video-support/" target="_blank">
								      supports HTML5 video
								    </a>
								  </p>
								</video> -->
					    	</div>

				    		<a href="{% url 'userlms:my' course.course_id %}">
				    			<div class="py-1 px-3" style="width:270px; float: left;">
				    			<h5 class="fw-800 mb-0">{{ course.course.name }}</h5>
				    			<div>
				    				<span style="font-size:11px;color:#666;">Lesson 15 of 25</span>
				    			</div>
				    			<div>
				    				<i class="far fa-eye cta-color"></i>
				    				<span style="font-size:11px;">{{ course.course.name}}</span>
				    			</div>
				    			<div class="mt-2 row mx-0">
				    				<div class="col-sm-4 px-0" style="font-size:11px;">45% Complete</div>
				    				<div class="col-sm-8 px-0">
					    				<div class="progress brd-rds-5 mt-1" style="height: 10px;">
										  <div class="progress-bar cta-color brd-green brd-rds-5" style="width: 45%; background: #28a745;" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>	
										</div>
									</div>
				    			</div>
				    			<div class="mt-1 row mx-0">
				    				<img alt="Teacher Image" src="https://apprentissage.in/media/course_images/RSA.png" style="border-radius: 50%;width: 40px; height: 40px;">
				    				<span class="fs-13 ml-3 pt-2">Teacher Name</span>
				    			</div>
				    		</div>
				    		</a>

				    	</div>
			    	</div>
			   		</div> 

				{% endfor %}
						<!-- <div class="row mx-0">
								<button class="login-btn px-2 mx-2 fs-13" style="position: absolute; right: 0px;">
									View All Courses
								</button>
						</div> -->
							</div>
							</div>

					<!-- corousel end for  enrolled courses -->
							<div class="clearfix"></div>
						</div>
					

			<!-- course tab end -->

					<div id="contentForNotes" class="px-2 py-3 fs-15 " 
			    		style="display: none;">
						  <!--   <div class="row">
						    	<div class="col-md-3" style="height: 200px;
						    	background-color:grey;">

						    	</div>
						    </div> -->
			   			<div id="viewed_notes_slider" class="carousel slide carousel-multi-item px-5" data-ride="carousel" style="display: block;">
		  
								<div id="recently_viewed" class="owl-carousel owl-theme"  style="display: block;">

								{% ifequal all_session|length 0 %}
									<p> No Session available right now</p>
								{% endifequal %}
								{% for session in all_session %}
									<div class="item">
										<div class="py-2 pl-1" style="width:430px; height:180px;">
				    						<a href="{% url 'customadmin:classroom' %}" target="_blank"><div style="width:430px; height:160px; padding:5px;background: #FFFFFF 0% 0% no-repeat padding-box;box-shadow: 0px 0px 14px #00000029;border-radius: 10px 4px 4px 10px;opacity: 1;">

				    								<div style="width: 150px; float: left;">
					    		
								    					<img src="https://apprentissage.in/media/course_images/RSA.png" alt="session image"  width="100px" 
								    					height="100px"/>
								 
					    							</div>
				    					
				    								<a href="">
				    								<div class="py-1 px-3" style="width:270px; float: left;">
									    			<h5 class="fw-800 mb-0">
									    				{{ session.topic }}
									    			</h5>
				    							<div>
				    				
				    							</div>
				    							<div>
							    				<!-- <i class="far fa-eye cta-color"></i> -->
							    				<span style="font-size:11px;">
							    					{{ session.description }}
							    				</span>
				    							</div>
				    			
							    			<div class="mt-1 row mx-0">
							    				<img alt="Teacher Image" src="https://apprentissage.in/media/course_images/RSA.png" style="border-radius: 50%;width: 40px; height: 40px;">
							    				<span class="fs-13 ml-3 pt-2">{{ session.teacher }}</span>
							    			</div>
								    		</div>
								    		</a>
				    				
				    						</div></a>

				    					</div>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>

			</div>
	</div>
		<!-- all tab end -->
			<script type="text/javascript">
			function tabCourseTabChange(t, id){
				$(t).siblings('label').removeClass('brd-btm2');
				$(t).addClass('brd-btm2');
				$(""+id).siblings('div').css('display', 'none');
				$(""+id).css('display', 'block');
			}
		</script>
		
<!-- section close -->

<!-- <div class="clearfix"></div> -->
</section>
{% endblock %}





{% block user_card-slider %}

{% load static %}


<section class='card-slider-template container'>

	<div class="pt-4 pb-3" >
		<h4 style="font-family: sans-serif; font-weight: 800;">You have learned these Skill</h4>
		<div class="row mx-0">
			<button class="login-btn px-2 m-2 fs-13 blk-wht-clr" style="color:#333;">Staff Management</button>
			<button class="login-btn px-2 m-2 fs-13 blk-wht-clr" style="color:#333;">Welding</button>
			<button class="login-btn px-2 m-2 fs-13 blk-wht-clr" style="color:#333;">Carpenter</button>
			<button class="login-btn px-2 m-2 fs-13 blk-wht-clr" style="color:#333;">Staff Management</button>
			<button class="login-btn px-2 m-2 fs-13 blk-wht-clr" style="color:#333; :ho">Welding</button>
			<button class="login-btn px-2 m-2 fs-13 blk-wht-clr" style="color:#333;">Agriculture</button>
			<!-- <button class="login-btn px-2 m-2 fs-13 blk-wht-clr" style="color:#333;">Carpenter</button>
			<button class="login-btn px-2 m-2 fs-13 blk-wht-clr" style="color:#333;">Agriculture</button>
			<button class="login-btn px-2 m-2 fs-13 blk-wht-clr" style="color:#333;">Carpenter</button>
			<button class="login-btn px-2 m-2 fs-13 blk-wht-clr" style="color:#333;">Staff Management</button>
			<button class="login-btn px-2 m-2 fs-13 blk-wht-clr" style="color:#333;">Welding</button>
			<button class="login-btn px-2 m-2 fs-13 blk-wht-clr" style="color:#333;">Agriculture</button>
			<button class="login-btn px-2 m-2 fs-13 blk-wht-clr" style="color:#333;">Carpenter</button>
			<button class="login-btn px-2 m-2 fs-13 blk-wht-clr" style="color:#333;">Agriculture</button> -->
		</div>

	</div>

	<div class="clearfix"></div>
</section>
 

{% endblock %} 


{% block user_course-offered %}

{% load static %}


<section class="courses-offered container">
	<div class="pt-4 pb-3" >
		<h4 style="text-align:center;font-family:sans-serif; font-weight: 800;">Recommended/Searched based</h4>
		<br>
	</div>
	<div id="recommended_courses" class="carousel slide carousel-multi-item px-5 row mx-0" data-ride="carousel">
	  
		<div class="carousel-inner" role="listbox">

		    <!--First slide-->
		    <div class="carousel-item active">

		      	<div class="col-md-3 pop-card" style="float:left">
		        	<div class="card my-2 py-1 px-1 brd-green brd-rds-5">
		      			<div class="card-inner">
		      				<img src="{% static 'user_lms/img/f.png' %}" style="height:125px; width:175px;">
		      				<div class="card-inner-content">
		      					<div class="card-course-name"><label class="cc-name">Retail Sales Associate</label></div>
		      					<div class="card-course-price">
		      						<span>
		      							<strike class="card-course-price-strike">Rs. 200.0</strike>
		      						</span> Free
		      					</div>
		      					<div class="fs-13 brd-btm brd-gry">
		      						<label class="card-course-rating-star">
		      							<!-- <i class="material-icons fs-15" aria-hidden="true">star</i>
		      							<i class="material-icons fs-15" aria-hidden="true">star</i>
		      							<i class="material-icons fs-15" aria-hidden="true">star</i>
		      							<i class="material-icons fs-15" aria-hidden="true">star_half</i>
		      							<i class="material-icons fs-15" aria-hidden="true">star_outline</i> -->
		      							(New)
		      						</label>
		      						<span class="card-enroll-count fl-rt">
		      							<i class="fa fa-users" aria-hidden="true"></i>
		      							0
		      						</span>
		      					</div>
		      					<div class="fs-13 py-2">
		      						<div style="max-height: 120px; min-height: 120px; overflow: hidden;">
		      							<b>Program Highlight</b><br> 
		      							<div class="p-highlight">
		      								<p style="margin-bottom: 0px;">Designed for Entry Level Job Force</p>
											<p style="margin-bottom: 0px;">Self-Paced Learning for Career Enhancement and Growth</p>
											<p style="margin-bottom: 0px;">Industry Relevant Curriculum with Latest Trends</p>
											<p style="margin-bottom: 0px;">Job Placement Assistance</p>
											<p style="margin-bottom: 0px;">Joint Certification with Retailers Association’s Skill Council of India</p>
										</div>
		      						</div>
		      					</div>
		      					<div>
		      						<button class="cta-btn btn-wdth-120 fs-13" onclick="refToLink('https://learning.apprentissage.in/course/view.php?id=12')">Enroll Now</button>
								
		      						<span class="fav-not fl-rt">
		      							<i class="fa fa-heart" aria-hidden="true"></i>
		      						</span>
		      					</div>
		      				</div>
		      			</div>
		      		</div>
		      		<div class="pop-card-hover" style="z-index:9;position: absolute; top:10px; left:210px;padding-left:20px;">
		      			<a href="" class="a-norm">
				      		<div class="fs-13 px-2 py-2 brd-rds-5" style="box-shadow: 10px 10px 15px #00000029;  width:300px;background:#fff;">
				      			<h6 class="fs-15">Retail Sales Associate</h6>
				      			<!-- <p  class="brd-btm brd-gry" style="font-size: 11px;"> Total Video minute 200</p> -->
				      			<p class="brd-btm brd-gry py-1">What you will learn in this course</p>
				      			<div class="check-list" style="max-height: 240px; min-height:240px; overflow: hidden;">
					      			<ul class="c-overview p-2" style="list-style-type: none;">
										<ul style="list-style-type: none;">
											<li>Kickstart a career with fastest growing sector in India i.e. Retail Store Operations. Earn a certificate at the end of the program along with job placement assistance.</li>
											<li>Learn about interaction with customers, by giving specialized services and product demonstration.</li>
										</ul>
									</ul>
								</div>
								<div class="card-course-price txt-center py-1">
			  						<span>
			  							<strike class="card-course-price-strike fw-800" style="color: #bbb;">Rs. 200.0</strike>
			  						</span> Free
			  					</div>
			  					<div>

				  					<button style="min-width:200px;" data-href="5" class="cta-btn fs-13">View Details &nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></button>
			  						<span class="fav-not fl-rt">
			  							<i class="fa fa-heart" aria-hidden="true"></i>
			  						</span>
			  					</div>
				      		</div>
				      	</a>
			      	</div>
		      	</div>
		      	<div class="col-md-3 pop-card" style="float:left">
		        	<div class="card my-2 py-1 px-1 brd-green brd-rds-5">
		      			<div class="card-inner">
		      				<img src="{% static 'user_lms/img/f.png' %}" style="height:125px; width:175px;">
		      				<div class="card-inner-content">
		      					<div class="card-course-name"><label class="cc-name">Retail Sales Associate</label></div>
		      					<div class="card-course-price">
		      						<span>
		      							<strike class="card-course-price-strike">Rs. 200.0</strike>
		      						</span> Free
		      					</div>
		      					<div class="fs-13 brd-btm brd-gry">
		      						<label class="card-course-rating-star">
		      							<!-- <i class="material-icons fs-15" aria-hidden="true">star</i>
		      							<i class="material-icons fs-15" aria-hidden="true">star</i>
		      							<i class="material-icons fs-15" aria-hidden="true">star</i>
		      							<i class="material-icons fs-15" aria-hidden="true">star_half</i>
		      							<i class="material-icons fs-15" aria-hidden="true">star_outline</i> -->
		      							(New)
		      						</label>
		      						<span class="card-enroll-count fl-rt">
		      							<i class="fa fa-users" aria-hidden="true"></i>
		      							0
		      						</span>
		      					</div>
		      					<div class="fs-13 py-2">
		      						<div style="max-height: 120px; min-height: 120px; overflow: hidden;">
		      							<b>Program Highlight</b><br> 
		      							<div class="p-highlight">
		      								<p style="margin-bottom: 0px;">Designed for Entry Level Job Force</p>
											<p style="margin-bottom: 0px;">Self-Paced Learning for Career Enhancement and Growth</p>
											<p style="margin-bottom: 0px;">Industry Relevant Curriculum with Latest Trends</p>
											<p style="margin-bottom: 0px;">Job Placement Assistance</p>
											<p style="margin-bottom: 0px;">Joint Certification with Retailers Association’s Skill Council of India</p>
										</div>
		      						</div>
		      					</div>
		      					<div>
		      						<button class="cta-btn btn-wdth-120 fs-13" onclick="refToLink('https://learning.apprentissage.in/course/view.php?id=12')">Enroll Now</button>
								
		      						<span class="fav-not fl-rt">
		      							<i class="fa fa-heart" aria-hidden="true"></i>
		      						</span>
		      					</div>
		      				</div>
		      			</div>
		      		</div>
		      		<div class="pop-card-hover" style="z-index:9;position: absolute; top:10px; left:210px;padding-left:20px;">
		      			<a href="" class="a-norm">
				      		<div class="fs-13 px-2 py-2 brd-rds-5" style="box-shadow: 10px 10px 15px #00000029;  width:300px;background:#fff;">
				      			<h6 class="fs-15">Retail Sales Associate</h6>
				      			<!-- <p  class="brd-btm brd-gry" style="font-size: 11px;"> Total Video minute 200</p> -->
				      			<p class="brd-btm brd-gry py-1">What you will learn in this course</p>
				      			<div class="check-list" style="max-height: 240px; min-height:240px; overflow: hidden;">
					      			<ul class="c-overview p-2" style="list-style-type: none;">
										<ul style="list-style-type: none;">
											<li>Kickstart a career with fastest growing sector in India i.e. Retail Store Operations. Earn a certificate at the end of the program along with job placement assistance.</li>
											<li>Learn about interaction with customers, by giving specialized services and product demonstration.</li>
										</ul>
									</ul>
								</div>
								<div class="card-course-price txt-center py-1">
			  						<span>
			  							<strike class="card-course-price-strike fw-800" style="color: #bbb;">Rs. 200.0</strike>
			  						</span> Free
			  					</div>
			  					<div>

				  					<button style="min-width:200px;" data-href="5" class="cta-btn fs-13">View Details &nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></button>
			  						<span class="fav-not fl-rt">
			  							<i class="fa fa-heart" aria-hidden="true"></i>
			  						</span>
			  					</div>
				      		</div>
				      	</a>
			      	</div>
		      	</div>
		      	<div class="col-md-3 pop-card" style="float:left">
		        	<div class="card my-2 py-1 px-1 brd-green brd-rds-5">
		      			<div class="card-inner">
		      				<img src="{% static 'user_lms/img/f.png' %}" style="height:125px; width:175px;">
		      				<div class="card-inner-content">
		      					<div class="card-course-name"><label class="cc-name">Retail Sales Associate</label></div>
		      					<div class="card-course-price">
		      						<span>
		      							<strike class="card-course-price-strike">Rs. 200.0</strike>
		      						</span> Free
		      					</div>
		      					<div class="fs-13 brd-btm brd-gry">
		      						<label class="card-course-rating-star">
		      							<!-- <i class="material-icons fs-15" aria-hidden="true">star</i>
		      							<i class="material-icons fs-15" aria-hidden="true">star</i>
		      							<i class="material-icons fs-15" aria-hidden="true">star</i>
		      							<i class="material-icons fs-15" aria-hidden="true">star_half</i>
		      							<i class="material-icons fs-15" aria-hidden="true">star_outline</i> -->
		      							(New)
		      						</label>
		      						<span class="card-enroll-count fl-rt">
		      							<i class="fa fa-users" aria-hidden="true"></i>
		      							0
		      						</span>
		      					</div>
		      					<div class="fs-13 py-2">
		      						<div style="max-height: 120px; min-height: 120px; overflow: hidden;">
		      							<b>Program Highlight</b><br> 
		      							<div class="p-highlight">
		      								<p style="margin-bottom: 0px;">Designed for Entry Level Job Force</p>
											<p style="margin-bottom: 0px;">Self-Paced Learning for Career Enhancement and Growth</p>
											<p style="margin-bottom: 0px;">Industry Relevant Curriculum with Latest Trends</p>
											<p style="margin-bottom: 0px;">Job Placement Assistance</p>
											<p style="margin-bottom: 0px;">Joint Certification with Retailers Association’s Skill Council of India</p>
										</div>
		      						</div>
		      					</div>
		      					<div>
		      						<button class="cta-btn btn-wdth-120 fs-13" onclick="refToLink('https://learning.apprentissage.in/course/view.php?id=12')">Enroll Now</button>
								
		      						<span class="fav-not fl-rt">
		      							<i class="fa fa-heart" aria-hidden="true"></i>
		      						</span>
		      					</div>
		      				</div>
		      			</div>
		      		</div>
		      		<div class="pop-card-hover" style="z-index:9;position: absolute; top:10px; left:210px;padding-left:20px;">
		      			<a href="" class="a-norm">
				      		<div class="fs-13 px-2 py-2 brd-rds-5" style="box-shadow: 10px 10px 15px #00000029;  width:300px;background:#fff;">
				      			<h6 class="fs-15">Retail Sales Associate</h6>
				      			<!-- <p  class="brd-btm brd-gry" style="font-size: 11px;"> Total Video minute 200</p> -->
				      			<p class="brd-btm brd-gry py-1">What you will learn in this course</p>
				      			<div class="check-list" style="max-height: 240px; min-height:240px; overflow: hidden;">
					      			<ul class="c-overview p-2" style="list-style-type: none;">
										<ul style="list-style-type: none;">
											<li>Kickstart a career with fastest growing sector in India i.e. Retail Store Operations. Earn a certificate at the end of the program along with job placement assistance.</li>
											<li>Learn about interaction with customers, by giving specialized services and product demonstration.</li>
										</ul>
									</ul>
								</div>
								<div class="card-course-price txt-center py-1">
			  						<span>
			  							<strike class="card-course-price-strike fw-800" style="color: #bbb;">Rs. 200.0</strike>
			  						</span> Free
			  					</div>
			  					<div>

				  					<button style="min-width:200px;" data-href="5" class="cta-btn fs-13">View Details &nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></button>
			  						<span class="fav-not fl-rt">
			  							<i class="fa fa-heart" aria-hidden="true"></i>
			  						</span>
			  					</div>
				      		</div>
				      	</a>
			      	</div>
		      	</div>
		      	<div class="col-md-3 pop-card" style="float:left">
		        	<div class="card my-2 py-1 px-1 brd-green brd-rds-5">
		      			<div class="card-inner">
		      				<img src="{% static 'user_lms/img/f.png' %}" style="height:125px; width:175px;">
		      				<div class="card-inner-content">
		      					<div class="card-course-name"><label class="cc-name">Retail Sales Associate</label></div>
		      					<div class="card-course-price">
		      						<span>
		      							<strike class="card-course-price-strike">Rs. 200.0</strike>
		      						</span> Free
		      					</div>
		      					<div class="fs-13 brd-btm brd-gry">
		      						<label class="card-course-rating-star">
		      							<!-- <i class="material-icons fs-15" aria-hidden="true">star</i>
		      							<i class="material-icons fs-15" aria-hidden="true">star</i>
		      							<i class="material-icons fs-15" aria-hidden="true">star</i>
		      							<i class="material-icons fs-15" aria-hidden="true">star_half</i>
		      							<i class="material-icons fs-15" aria-hidden="true">star_outline</i> -->
		      							(New)
		      						</label>
		      						<span class="card-enroll-count fl-rt">
		      							<i class="fa fa-users" aria-hidden="true"></i>
		      							0
		      						</span>
		      					</div>
		      					<div class="fs-13 py-2">
		      						<div style="max-height: 120px; min-height: 120px; overflow: hidden;">
		      							<b>Program Highlight</b><br> 
		      							<div class="p-highlight">
		      								<p style="margin-bottom: 0px;">Designed for Entry Level Job Force</p>
											<p style="margin-bottom: 0px;">Self-Paced Learning for Career Enhancement and Growth</p>
											<p style="margin-bottom: 0px;">Industry Relevant Curriculum with Latest Trends</p>
											<p style="margin-bottom: 0px;">Job Placement Assistance</p>
											<p style="margin-bottom: 0px;">Joint Certification with Retailers Association’s Skill Council of India</p>
										</div>
		      						</div>
		      					</div>
		      					<div>
		      						<button class="cta-btn btn-wdth-120 fs-13" onclick="refToLink('https://learning.apprentissage.in/course/view.php?id=12')">Enroll Now</button>
								
		      						<span class="fav-not fl-rt">
		      							<i class="fa fa-heart" aria-hidden="true"></i>
		      						</span>
		      					</div>
		      				</div>
		      			</div>
		      		</div>
		      		<div class="pop-card-hover" style="z-index:9;position: absolute; top:10px; left:210px;padding-left:20px;">
		      			<a href="" class="a-norm">
				      		<div class="fs-13 px-2 py-2 brd-rds-5" style="box-shadow: 10px 10px 15px #00000029;  width:300px;background:#fff;">
				      			<h6 class="fs-15">Retail Sales Associate</h6>
				      			<!-- <p  class="brd-btm brd-gry" style="font-size: 11px;"> Total Video minute 200</p> -->
				      			<p class="brd-btm brd-gry py-1">What you will learn in this course</p>
				      			<div class="check-list" style="max-height: 240px; min-height:240px; overflow: hidden;">
					      			<ul class="c-overview p-2" style="list-style-type: none;">
										<ul style="list-style-type: none;">
											<li>Kickstart a career with fastest growing sector in India i.e. Retail Store Operations. Earn a certificate at the end of the program along with job placement assistance.</li>
											<li>Learn about interaction with customers, by giving specialized services and product demonstration.</li>
										</ul>
									</ul>
								</div>
								<div class="card-course-price txt-center py-1">
			  						<span>
			  							<strike class="card-course-price-strike fw-800" style="color: #bbb;">Rs. 200.0</strike>
			  						</span> Free
			  					</div>
			  					<div>

				  					<button style="min-width:200px;" data-href="5" class="cta-btn fs-13">View Details &nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></button>
			  						<span class="fav-not fl-rt">
			  							<i class="fa fa-heart" aria-hidden="true"></i>
			  						</span>
			  					</div>
				      		</div>
				      	</a>
			      	</div>
		      	</div>
		      	
		      	
		    </div> 

		    <div class="carousel-item">
		    	<div class="col-md-3 pop-card" style="float:left">
		        	<div class="card my-2 py-1 px-1 brd-green brd-rds-5">
		      			<div class="card-inner">
		      				<img src="{% static 'user_lms/img/f.png' %}" style="height:125px; width:175px;">
		      				<div class="card-inner-content">
		      					<div class="card-course-name"><label class="cc-name">Retail Sales Associate</label></div>
		      					<div class="card-course-price">
		      						<span>
		      							<strike class="card-course-price-strike">Rs. 200.0</strike>
		      						</span> Free
		      					</div>
		      					<div class="fs-13 brd-btm brd-gry">
		      						<label class="card-course-rating-star">
		      							<!-- <i class="material-icons fs-15" aria-hidden="true">star</i>
		      							<i class="material-icons fs-15" aria-hidden="true">star</i>
		      							<i class="material-icons fs-15" aria-hidden="true">star</i>
		      							<i class="material-icons fs-15" aria-hidden="true">star_half</i>
		      							<i class="material-icons fs-15" aria-hidden="true">star_outline</i> -->
		      							(New)
		      						</label>
		      						<span class="card-enroll-count fl-rt">
		      							<i class="fa fa-users" aria-hidden="true"></i>
		      							0
		      						</span>
		      					</div>
		      					<div class="fs-13 py-2">
		      						<div style="max-height: 120px; min-height: 120px; overflow: hidden;">
		      							<b>Program Highlight</b><br> 
		      							<div class="p-highlight">
		      								<p style="margin-bottom: 0px;">Designed for Entry Level Job Force</p>
											<p style="margin-bottom: 0px;">Self-Paced Learning for Career Enhancement and Growth</p>
											<p style="margin-bottom: 0px;">Industry Relevant Curriculum with Latest Trends</p>
											<p style="margin-bottom: 0px;">Job Placement Assistance</p>
											<p style="margin-bottom: 0px;">Joint Certification with Retailers Association’s Skill Council of India</p>
										</div>
		      						</div>
		      					</div>
		      					<div>
		      						<button class="cta-btn btn-wdth-120 fs-13" onclick="refToLink('https://learning.apprentissage.in/course/view.php?id=12')">Enroll Now</button>
								
		      						<span class="fav-not fl-rt">
		      							<i class="fa fa-heart" aria-hidden="true"></i>
		      						</span>
		      					</div>
		      				</div>
		      			</div>
		      		</div>
		      		<div class="pop-card-hover" style="z-index:9;position: absolute; top:10px; left:210px;padding-left:20px;">
		      			<a href="/course_details/5/details/" class="a-norm">
				      		<div class="fs-13 px-2 py-2 brd-rds-5" style="box-shadow: 10px 10px 15px #00000029;  width:300px;background:#fff;">
				      			<h6 class="fs-15">Retail Sales Associate</h6>
				      			<!-- <p  class="brd-btm brd-gry" style="font-size: 11px;"> Total Video minute 200</p> -->
				      			<p class="brd-btm brd-gry py-1">What you will learn in this course</p>
				      			<div class="check-list" style="max-height: 240px; min-height:240px; overflow: hidden;">
					      			<ul class="c-overview p-2" style="list-style-type: none;">
										<ul style="list-style-type: none;">
											<li>Kickstart a career with fastest growing sector in India i.e. Retail Store Operations. Earn a certificate at the end of the program along with job placement assistance.</li>
											<li>Learn about interaction with customers, by giving specialized services and product demonstration.</li>
										</ul>
									</ul>
								</div>
								<div class="card-course-price txt-center py-1">
			  						<span>
			  							<strike class="card-course-price-strike fw-800" style="color: #bbb;">Rs. 200.0</strike>
			  						</span> Free
			  					</div>
			  					<div>

				  					<button style="min-width:200px;" data-href="5" class="cta-btn fs-13">View Details &nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></button>
			  						<span class="fav-not fl-rt">
			  							<i class="fa fa-heart" aria-hidden="true"></i>
			  						</span>
			  					</div>
				      		</div>
				      	</a>
			      	</div>
		      	</div>
		      	<div class="col-md-3 pop-card" style="float:left">
		        	<div class="card my-2 py-1 px-1 brd-green brd-rds-5">
		      			<div class="card-inner">
		      				<img src="{% static 'user_lms/img/f.png' %}" style="height:125px; width:175px;">
		      				<div class="card-inner-content">
		      					<div class="card-course-name"><label class="cc-name">Retail Sales Associate</label></div>
		      					<div class="card-course-price">
		      						<span>
		      							<strike class="card-course-price-strike">Rs. 200.0</strike>
		      						</span> Free
		      					</div>
		      					<div class="fs-13 brd-btm brd-gry">
		      						<label class="card-course-rating-star">
		      							<!-- <i class="material-icons fs-15" aria-hidden="true">star</i>
		      							<i class="material-icons fs-15" aria-hidden="true">star</i>
		      							<i class="material-icons fs-15" aria-hidden="true">star</i>
		      							<i class="material-icons fs-15" aria-hidden="true">star_half</i>
		      							<i class="material-icons fs-15" aria-hidden="true">star_outline</i> -->
		      							(New)
		      						</label>
		      						<span class="card-enroll-count fl-rt">
		      							<i class="fa fa-users" aria-hidden="true"></i>
		      							0
		      						</span>
		      					</div>
		      					<div class="fs-13 py-2">
		      						<div style="max-height: 120px; min-height: 120px; overflow: hidden;">
		      							<b>Program Highlight</b><br> 
		      							<div class="p-highlight">
		      								<p style="margin-bottom: 0px;">Designed for Entry Level Job Force</p>
											<p style="margin-bottom: 0px;">Self-Paced Learning for Career Enhancement and Growth</p>
											<p style="margin-bottom: 0px;">Industry Relevant Curriculum with Latest Trends</p>
											<p style="margin-bottom: 0px;">Job Placement Assistance</p>
											<p style="margin-bottom: 0px;">Joint Certification with Retailers Association’s Skill Council of India</p>
										</div>
		      						</div>
		      					</div>
		      					<div>
		      						<button class="cta-btn btn-wdth-120 fs-13" onclick="refToLink('https://learning.apprentissage.in/course/view.php?id=12')">Enroll Now</button>
								
		      						<span class="fav-not fl-rt">
		      							<i class="fa fa-heart" aria-hidden="true"></i>
		      						</span>
		      					</div>
		      				</div>
		      			</div>
		      		</div>
		      		<div class="pop-card-hover" style="z-index:9;position: absolute; top:10px; left:210px;padding-left:20px;">
		      			<a href="" class="a-norm">
				      		<div class="fs-13 px-2 py-2 brd-rds-5" style="box-shadow: 10px 10px 15px #00000029;  width:300px;background:#fff;">
				      			<h6 class="fs-15">Retail Sales Associate</h6>
				      			<!-- <p  class="brd-btm brd-gry" style="font-size: 11px;"> Total Video minute 200</p> -->
				      			<p class="brd-btm brd-gry py-1">What you will learn in this course</p>
				      			<div class="check-list" style="max-height: 240px; min-height:240px; overflow: hidden;">
					      			<ul class="c-overview p-2" style="list-style-type: none;">
										<ul style="list-style-type: none;">
											<li>Kickstart a career with fastest growing sector in India i.e. Retail Store Operations. Earn a certificate at the end of the program along with job placement assistance.</li>
											<li>Learn about interaction with customers, by giving specialized services and product demonstration.</li>
										</ul>
									</ul>
								</div>
								<div class="card-course-price txt-center py-1">
			  						<span>
			  							<strike class="card-course-price-strike fw-800" style="color: #bbb;">Rs. 200.0</strike>
			  						</span> Free
			  					</div>
			  					<div>

				  					<button style="min-width:200px;" data-href="5" class="cta-btn fs-13">View Details &nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></button>
			  						<span class="fav-not fl-rt">
			  							<i class="fa fa-heart" aria-hidden="true"></i>
			  						</span>
			  					</div>
				      		</div>
				      	</a>
			      	</div>
		      	</div>
		      	<div class="col-md-3 pop-card" style="float:left">
		        	<div class="card my-2 py-1 px-1 brd-green brd-rds-5">
		      			<div class="card-inner">
		      				<img src="{% static 'user_lms/img/f.png' %}" style="height:125px; width:175px;">
		      				<div class="card-inner-content">
		      					<div class="card-course-name"><label class="cc-name">Retail Sales Associate</label></div>
		      					<div class="card-course-price">
		      						<span>
		      							<strike class="card-course-price-strike">Rs. 200.0</strike>
		      						</span> Free
		      					</div>
		      					<div class="fs-13 brd-btm brd-gry">
		      						<label class="card-course-rating-star">
		      							<!-- <i class="material-icons fs-15" aria-hidden="true">star</i>
		      							<i class="material-icons fs-15" aria-hidden="true">star</i>
		      							<i class="material-icons fs-15" aria-hidden="true">star</i>
		      							<i class="material-icons fs-15" aria-hidden="true">star_half</i>
		      							<i class="material-icons fs-15" aria-hidden="true">star_outline</i> -->
		      							(New)
		      						</label>
		      						<span class="card-enroll-count fl-rt">
		      							<i class="fa fa-users" aria-hidden="true"></i>
		      							0
		      						</span>
		      					</div>
		      					<div class="fs-13 py-2">
		      						<div style="max-height: 120px; min-height: 120px; overflow: hidden;">
		      							<b>Program Highlight</b><br> 
		      							<div class="p-highlight">
		      								<p style="margin-bottom: 0px;">Designed for Entry Level Job Force</p>
											<p style="margin-bottom: 0px;">Self-Paced Learning for Career Enhancement and Growth</p>
											<p style="margin-bottom: 0px;">Industry Relevant Curriculum with Latest Trends</p>
											<p style="margin-bottom: 0px;">Job Placement Assistance</p>
											<p style="margin-bottom: 0px;">Joint Certification with Retailers Association’s Skill Council of India</p>
										</div>
		      						</div>
		      					</div>
		      					<div>
		      						<button class="cta-btn btn-wdth-120 fs-13" onclick="refToLink('https://learning.apprentissage.in/course/view.php?id=12')">Enroll Now</button>
								
		      						<span class="fav-not fl-rt">
		      							<i class="fa fa-heart" aria-hidden="true"></i>
		      						</span>
		      					</div>
		      				</div>
		      			</div>
		      		</div>
		      		<div class="pop-card-hover" style="z-index:9;position: absolute; top:10px; left:210px;padding-left:20px;">
		      			<a href="" class="a-norm">
				      		<div class="fs-13 px-2 py-2 brd-rds-5" style="box-shadow: 10px 10px 15px #00000029;  width:300px;background:#fff;">
				      			<h6 class="fs-15">Retail Sales Associate</h6>
				      			<!-- <p  class="brd-btm brd-gry" style="font-size: 11px;"> Total Video minute 200</p> -->
				      			<p class="brd-btm brd-gry py-1">What you will learn in this course</p>
				      			<div class="check-list" style="max-height: 240px; min-height:240px; overflow: hidden;">
					      			<ul class="c-overview p-2" style="list-style-type: none;">
										<ul style="list-style-type: none;">
											<li>Kickstart a career with fastest growing sector in India i.e. Retail Store Operations. Earn a certificate at the end of the program along with job placement assistance.</li>
											<li>Learn about interaction with customers, by giving specialized services and product demonstration.</li>
										</ul>
									</ul>
								</div>
								<div class="card-course-price txt-center py-1">
			  						<span>
			  							<strike class="card-course-price-strike fw-800" style="color: #bbb;">Rs. 200.0</strike>
			  						</span> Free
			  					</div>
			  					<div>

				  					<button style="min-width:200px;" data-href="5" class="cta-btn fs-13">View Details &nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></button>
			  						<span class="fav-not fl-rt">
			  							<i class="fa fa-heart" aria-hidden="true"></i>
			  						</span>
			  					</div>
				      		</div>
				      	</a>
			      	</div>
		      	</div>
		      	<div class="col-md-3 pop-card" style="float:left">
		        	<div class="card my-2 py-1 px-1 brd-green brd-rds-5">
		      			<div class="card-inner">
		      				<img src="{% static 'user_lms/img/f.png' %}" style="height:125px; width:175px;">
		      				<div class="card-inner-content">
		      					<div class="card-course-name"><label class="cc-name">Retail Sales Associate</label></div>
		      					<div class="card-course-price">
		      						<span>
		      							<strike class="card-course-price-strike">Rs. 200.0</strike>
		      						</span> Free
		      					</div>
		      					<div class="fs-13 brd-btm brd-gry">
		      						<label class="card-course-rating-star">
		      							<!-- <i class="material-icons fs-15" aria-hidden="true">star</i>
		      							<i class="material-icons fs-15" aria-hidden="true">star</i>
		      							<i class="material-icons fs-15" aria-hidden="true">star</i>
		      							<i class="material-icons fs-15" aria-hidden="true">star_half</i>
		      							<i class="material-icons fs-15" aria-hidden="true">star_outline</i> -->
		      							(New)
		      						</label>
		      						<span class="card-enroll-count fl-rt">
		      							<i class="fa fa-users" aria-hidden="true"></i>
		      							0
		      						</span>
		      					</div>
		      					<div class="fs-13 py-2">
		      						<div style="max-height: 120px; min-height: 120px; overflow: hidden;">
		      							<b>Program Highlight</b><br> 
		      							<div class="p-highlight">
		      								<p style="margin-bottom: 0px;">Designed for Entry Level Job Force</p>
											<p style="margin-bottom: 0px;">Self-Paced Learning for Career Enhancement and Growth</p>
											<p style="margin-bottom: 0px;">Industry Relevant Curriculum with Latest Trends</p>
											<p style="margin-bottom: 0px;">Job Placement Assistance</p>
											<p style="margin-bottom: 0px;">Joint Certification with Retailers Association’s Skill Council of India</p>
										</div>
		      						</div>
		      					</div>
		      					<div>
		      						<button class="cta-btn btn-wdth-120 fs-13" onclick="refToLink('https://learning.apprentissage.in/course/view.php?id=12')">Enroll Now</button>
								
		      						<span class="fav-not fl-rt">
		      							<i class="fa fa-heart" aria-hidden="true"></i>
		      						</span>
		      					</div>
		      				</div>
		      			</div>
		      		</div>
		      		
		      	</div>
		      	
		    </div>
		      	

		</div>
		    
		<a class="carousel-control-prev cta-color" style="opacity: 1 !important; width:40px;"  href="#recommended_courses" role="button" data-slide="prev">
	      <span style="font-weight: 800;" class="fa fa-chevron-circle-left fs-24" aria-hidden="true"></span>
	      <span class="sr-only">Previous</span>
	    </a>
	    <a class="carousel-control-next cta-color" style="opacity: 1 !important; width:40px;"  href="#recommended_courses" role="button" data-slide="next">
	      <span style="font-weight: 800;" class="fa fa-chevron-circle-right fs-24" aria-hidden="true"></span>
	      <span class="sr-only">Next</span>
	    </a>
	</div>
	<div class="clearfix"></div>
	
</section>




{% endblock %}

{% block inpage_script %}

	{% load static %}

	<script type="text/javascript">
		$(document).ready(function(e) {
			
			$('#recently_viewed').owlCarousel({
			    loop:false,
			    margin:10,
			    responsiveClass:true,
			    navText:['<span style="font-weight: 800;" class="fa fa-chevron-circle-left fs-24 cta-color" aria-hidden="true"></span>',
			    	'<span style="font-weight: 800;" class="fa fa-chevron-circle-right fs-24 cta-color" aria-hidden="true"></span>'
			    ],
			    responsive:{
			        0:{
			            items:1,
			            nav:true
			        },
			        600:{
			            items:1,
			            nav:false
			        },
			        1200:{
			            items:2.1,
			            nav:true,
			            loop:false
			        }
			    }
			});

			
			$(".owl-carousel").each(function(i){
				var h = $(this).height();
				let calH = (h/2 - 30);
				console.log('height : ', calH);
				$(this).find(".owl-prev").css({
					"float":"left",
					"margin-left":"-40px",
					"margin-top":"-"+ calH +"px"
				});
				$(this).find(".owl-next").css({
					"float":"right",
					"margin-right":"-40px",
					"margin-top":"-"+ calH +"px"
				});
			});
			


			$(".c-overview").each(function(e){
				var content = $(this).text();

				$(this).html(content);
			});

			$(".p-highlight").each(function(e){
				var cont = $(this).text();

				$(this).html(cont);
			});
			$(".p-highlight").children('p').css('margin-bottom', '0px');

			$(".cc-name").each(function(e){
				var n = $(this).text();
				var x = n;
				if(n.length > 40){
					var v = n.split(" ");
					if(v.length > 5){
						console.log(v[0]);
						var m = v[0];
						var z = 0;
						while(m.length < 36){
							m += ' ' + v[++z];
						}
						if(m.length > 36){
						x = m.substring(0,36) + '...';
						}else{
							x = m + '...';
						}
					}else{
						x = x.substring(0,36) + '...';
					}

				}
				$(this).text(x);
			});

			$('#course_link').click(function(){
					var id=$(this).attr('data-href');
					window.location.href="{% url 'userlms:course_details' %}"+id+"/details/";

			});

			$('.cat-caps').click(function(){
				var cat_ref=$(this).attr('data-ref');
				$(".cat-box").children('div').css('display', 'none');
				$(".cat"+cat_ref+"").css('display', '');
				$(".cat"+cat_ref+"").css('display', '');
			});

			$("ul").css('list-style-type', "none");

			$('.carousel-item').each(function(e){
				//var c_c = 0;
				$(this).children('.pop-card').each(function(i){
					console.log(i);
					if(i >= 2){
						$(this).children('.pop-card-hover').css('left', '-305px');
					}
				});
			});

			$('.vjs-poster').addClass('brd-rds-5');
			$('.vjs-big-play-button').addClass('player-ply-btn');
			setTimeout(function(e){
				$('.vjs-big-play-button').each(function(i){
					var height = $(this).siblings('video').outerHeight();
					var width = $(this).siblings('video').outerWidth();
					var top = Math.round(height/2 - 30);
					var left = Math.round(width/2 - 30);

					$(this).css({
		    			'margin': '0',
		    			'top': ''+top+'px',
		    			'left': ''+left+'px',
					});
				});
			},500);
		});
	</script>
{% endblock %}






