<section class="why-apprentissage bg-img-cover mt-4">
	<div style="height: 350px;">
		<div class="col-sm-2 mbl-hide" style="float: left;height: 350px;">
			<img style="position: absolute;bottom: 0; right: 20px;height:120px;" src="static/img/Group50.png" alt='...'>
		</div>
		<div class="col-sm-8" style="float: left;">
			<div class="pt-4 pb-3" >
				<h4 style="text-align:center;font-family: Arial Black,Arial Bold,Gadget,sans-serif; font-weight: 800;">Why Apprentissage?</h4>
			</div>
			<div class="col-sm-12">
				<div class="col-sm-3" style="float: left;text-align: center;">
					<div>
						<img style="height:150px;" src="static/img/Students.png">
					</div>
					<div style='position:relative;top:-40px; padding: 5px;'>
						<b style="font-size: 24px;">500+</b><br>
						<span style="font-size: 14px;">Students</span>
					</div>
				</div>
				<div class="col-sm-3" style="float: left;text-align: center;">
					<div>
						<img style="height:150px;" src="static/img/Courses.png">
					</div>
					<div style='position:relative;top:-40px; padding: 5px;'>
						<b style="font-size: 24px;">50+</b><br />
						<span style="font-size: 14px;">Courses Free & paid</span>
					</div>
				</div>
				<div class="col-sm-3" style="float: left;text-align: center;">
					<div>
						<img style="height:150px;" src="static/img/Instructor.png">
					</div>
					<div style='position:relative;top:-40px; padding: 5px;'>
						<b style="font-size: 24px;">50+</b><br />
						<span style="font-size: 14px;">Expert Instructor</span>
					</div>
				</div>
				<div class="col-sm-3" style="float: left;text-align: center;">
					<div>
						<img style="height:150px;" src="static/img/Acces.png">
					</div>
					<div style='position:relative;top:-40px; padding: 5px;'>
						<b style="font-size: 24px;">Access</b><br />
						<span style="font-size: 14px;">Anytime anywhere</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-2 mbl-hide" style="float: left;">
			<img style="position: absolute;top: 0; left: 20px;height: 120px;" src="static/img/Group50.png" alt='...'>
		</div>
	</div>
</section>